@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-green: #1A2E05;
  --light-green: #2d8658;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-green: var(--dark-green);
  --color-light-green: var(--light-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

